[Desktop Entry]
Name=Gosling
Exec=/usr/lib/Gosling/Gosling %U
Icon=/usr/share/pixmaps/Gosling.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/gosling;