[Desktop Entry]
Name=Gosling
Exec=/usr/lib/gosling/Gosling %U
Icon=/usr/share/pixmaps/gosling.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/gosling;